body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f4f7fb;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #043e61, #034763);
    color: white;
    padding: 18px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* MAIN CONTAINER */
.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* FORM CARD */
.form-card {
    background: white;
    padding: 30px;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.08);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 100%;
    background: #085a6a;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #024746;
    transform: scale(1.03);
}

/* RESULT GRID */
.scheme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
}

/* SCHEME CARD */
.scheme-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.scheme-card:hover {
    transform: translateY(-6px);
}

.desc {
    color: #555;
}

/* APPLY BUTTON */
.apply-btn {
    display: inline-block;
    margin-top: 12px;
    background: #043d50;
    color: white;
    padding: 10px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.apply-btn:hover {
    background: #064f67;
}
